
@{
    Layout = null;
}

@Model Forms.Models.AddCommentsNodel.cs
<div class="add-comment">
    <form action="/Home/addcomment" method="post">
        <textarea name="" placeholder="ваш комент" class="txt-area"></textarea>
        <div class="wrap-btn">
            <button class="btn-save">сохранить</button>
            <button class="btn-cansel">отмена</button>
            <p>fgf <a href="#">fdf </a></p>
        </div>
        </div>